html,
body {
  @apply antialiased text-black;
}

html {
  @apply duration-1000 ease-out opacity-0;
}

html.font_monument_grotesk {
  @apply opacity-100;
}

/* purgecss ignore */
::selection {
  @apply text-white bg-black;
}

/* purgecss ignore */
*:focus[data-focus-method='mouse'],
*:focus[data-focus-method='touch'] {
  outline: none;
}

/* purgecss ignore */
*:focus[data-focus-method='key'] {
  outline: 1px dotted black;
  outline-offset: 1px;
}
