h2,
h3,
p,
ul,
ol,
dl {
  @include f-body;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

ul
li {
  list-style-type: none;
}

img {
  border: 0 none;
  width: 100%;
  height: auto;
  transition: opacity 1s var(--easing-fade);
  display: block;

  & + img {
    margin-top: var(--spacing-tiny);
  }

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }

  &.lazyloaded {
    opacity: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.js-hide {
  display: none;
}

.js-show {
  display: block;
}

* ::selection {
  background: var(--color-black);
  color: var(--color-white);
}
