$grid-columns: 12 !default;

.grid-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: var(--grid-width);
}

.grid,
[class*="grid-auto-"] {
  display: grid;
  grid-gap: var(--grid-gutter);
}

.grid {
  --grid-columns: #{$grid-columns};
  grid-template-columns: repeat(var(--grid-columns), 1fr);

  & > * {
    grid-column: span var(--span, #{$grid-columns}) / span var(--span, #{$grid-columns});
  }
}

@for $i from 1 through $grid-columns {
  .col-#{$i} { --span: #{$i}; }
  .col-start-#{$i} { grid-column-start: #{$i}; }
  .col-end-#{$i+1} { grid-column-end: #{$i+1}; }
}

@include breakpoint('xsmall') {
  @for $i from 1 through $grid-columns {
    .col-#{$i}\@xs { --span: #{$i}; }
    .col-start-#{$i}\@xs { grid-column-start: #{$i}; }
    .col-end-#{$i+1}\@xs { grid-column-end: #{$i+1}; }
  }
}

@include breakpoint('small+') {
  @for $i from 1 through $grid-columns {
    .col-#{$i}\@sm { --span: #{$i}; }
    .col-start-#{$i}\@sm { grid-column-start: #{$i}; }
    .col-end-#{$i+1}\@sm { grid-column-end: #{$i+1}; }
  }
}

@include breakpoint('medium+') {
  @for $i from 1 through $grid-columns {
    .col-#{$i}\@md { --span: #{$i}; }
    .col-start-#{$i}\@md { grid-column-start: #{$i}; }
    .col-end-#{$i+1}\@md { grid-column-end: #{$i+1}; }
  }
}

@include breakpoint('large+') {
  @for $i from 1 through $grid-columns {
    .col-#{$i}\@lg { --span: #{$i}; }
    .col-start-#{$i}\@lg { grid-column-start: #{$i}; }
    .col-end-#{$i+1}\@lg { grid-column-end: #{$i+1}; }
  }
}

@include breakpoint('xlarge+') {
  @for $i from 1 through $grid-columns {
    .col-#{$i}\@xl { --span: #{$i}; }
    .col-start-#{$i}\@xl { grid-column-start: #{$i}; }
    .col-end-#{$i+1}\@xl { grid-column-end: #{$i+1}; }
  }
}
