// ####################################################
// Load fonts
//
// Use below @font-face declaration template to load fonts
// Copy/paste for each font to be loaded

@font-face {
  font-family: "Suisse";
  src: url('~assets/fonts/SuisseIntl.woff2') format('woff2'),
      url('~assets/fonts/SuisseIntl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Suisse";
  src: url('~assets/fonts/SuisseIntl-Italic.woff2') format('woff2'),
      url('~assets/fonts/SuisseIntl-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}


// ####################################################
// Site font stack variables
//
// uncomment and complete stack with project fonts
// xxxxx--loaded variables need a font loader to be activated (see setup/mixins/typography for CSS rule) :
// https://code.area17.com/mike/a17-js-helpers/wikis/A17-Helpers-fontObservers

// set to 100% to use the browsers font size as a base
$global-font-size: 100% !default;

// the fall back font family string. eg. Helvetica, Arial, sans-serif.
$serif-font: serif;
$sans-serif-font: 'Suisse', sans-serif;
// cap heights of the fonts - measure height of a capital H at 100px and then divide by 100
$cap-heights: (
  serif: .66,
  sans-serif: .568,
  arial: .72,
  helvetica: .72,
  'Times New Roman': .67,
  'Roboto': .72,
  'Suisse': .72
);

// ####################################################
// Site fonts objects, mixins, placeholders and classes
//
// Sample block below. Copy, paste and edit for each type
// style you need.
// `xsmall` is basically the default
// Attributes in the settings are additive, that is, if
// you set something, font-weight, in xsmall, it value
// will be carried through all breakpoints, unless you
// supply a new font-weight in a later breakpoint (in
// which case that new value becomes the value for all
// later breakpoints).
//
// You always need to set a `xsmall`.
//
// See
// * https://codepen.io/13twelve/pen/WYgrYE?editors=1000
// * https://code.area17.com/a17/fe-boilerplate/wikis/scss-setup-typography
// * https://code.area17.com/a17/fe-boilerplate/wikis/scss-setup-mixins-typography

/***

f-XX

```
<p class="f-XX">The quick brown fox, <br>jumps over the lazy dog</p>
```

***/
/*
*/

$f-h1: generate-font-obj(
  (
    font-family: $sans-serif-font,
    settings: (
      'xsmall': (font-size: 30, line-height: 30, letter-spacing: -0.015em, font-weight: 300, push: 0),
      'medium+': (font-size: 48, line-height: 55, push: 0),
      'xlarge+': (font-size: 60, line-height: 65, push: 0),
    )
  )
);

@mixin f-h1() {
  @include font-styles($f-h1);
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums;
  font-kerning: normal;
}

%f-h1,
h1 {
  // @include f-h1;
  line-height: 100%;
  letter-spacing: -0.045em;
  font-weight: normal;
  font-size: 24vw;
}

$f-body: generate-font-obj(
  (
    font-family: $sans-serif-font,
    settings: (
      'xsmall': (font-size: 16, line-height: 22, letter-spacing: -0.01em, font-weight: normal),
      'small+': (font-size: 18, line-height: 22),
      'medium+': (font-size: 24, line-height: 25),
    )
  )
);

@mixin f-body() {
  @include font-styles($f-body);
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums;
  font-kerning: normal;
}

%f-body,
.f-body {
  @include f-body;
}
